*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* #khung{
    width: 1200px;
    margin: auto;
} */
.phandau{
    min-height: 50px;
    background-color: blue;

}
.menu{
    height: 50px;
    background-color: rgb(5, 199, 118);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    position: relative;
}
.menu_ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.menu_li{
    list-style: none;
}
.menu_li a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}
.menu_li a:hover{
    color: black;
}
.dangnhap{
    display: flex;
}
.dn{
   padding-right: 20px;
   list-style: none;
}
.dn a{
    color: #ffffff;
}
.bt:hover{
    opacity: 90%;
}
.dn button{
    background-color: #32f1b1;
    border: none;
    width: 80px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: bold;
}
.search_box  {
    position: relative;
    padding-left: 25px;
    width: 400px;
    height: 100px;
}
.search{
    border-radius: 20px;
    padding: 5px;
    width: 360px;
    border: none;
    font-size: 20px;
    padding: 5px 30px;
}
.icon-input{
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
    padding: 30px;
}
.phanthan{
    display: flex;
    background-color: brown;
    height: 300px;
    margin-top: 25px;
}
.thantrai{
    margin: 0;
    padding: 0;
    flex: 1;
    background-color: rgb(253, 253, 253);
}
.khung_ct{
    background-color: #ffffff;
    border: 1px solid rgb(248, 247, 247);
    border-radius: 15px;
    width: 260px;
    height: 300px;
}
.danh_muc{
    background-color: rgb(5, 199, 118);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 50px;
    width: 259px;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    font-size: 15px;
}
.menu_ul1{
    list-style: none;
    padding-left: 15px;
    text-transform: uppercase; 
    display: block;
    font-size: 14px;
}
.menu_li1{
    border-top: 1px solid rgb(248, 247, 247);
    width: 230px;
    padding: 8px;
}
.menu_li1 a{
    text-decoration: none;
    position: relative;
    padding: 10px;
    color: rgba(22, 21, 21, 0.747);
    
}
.menu_li1 a:hover{
    color: #13d474;
}
.thanphai{
    flex: 3;
    background-color: blueviolet;
}
img{
    width: 900px;
    height: 300px;
}
.phancuoi{
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin: 17px;
}
.khung_giua{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.hoa_qua{
    background-color: rgb(5, 199, 118);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    font-size: 15px;
}
.xem_them a{
    text-decoration: none;
    color: rgb(245, 125, 56);
}
.khung_ct1 img {
    width: 270px;
    height: 280px;
}
.khung_1{
    display: flex;
    margin-top: 20px;
}
.khung_ct1{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(240, 238, 238);
    text-align: center;
}
.chu_den{
    color: rgba(0, 0, 0, 0.726);
}
.chu_do{
    color: red;
    font-weight: bold;
    margin: 5px;
    margin-top: 15px;
}
.chu_nhat{
    opacity: 30%;
    margin-bottom: 5px;
    text-decoration-line: line-through;
}
.chi_tiet{
    border: 1px solid rgb(5, 199, 118);
    background-color: rgb(255, 255, 255);
    color: rgb(5, 199, 118);
    width: 70px;
    height: 25px;
}
.dat_hang{
    border: 1px solid rgb(14, 196, 84);
    background-color: rgb(5, 199, 118);
    color: white;
    width: 70px;
    height: 25px;
}
.dat_hang:hover {
    opacity: 60%;
}
.chu_do1{
    color: red;
    font-weight: bold;
    margin: 32px;
    margin-top: 15px;
}
.footer{
    background-color: #13d474;
    height: 200px;
    display: flex;
}
.anh img{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    margin: 10px;
}
.chu_footer{
    font-size: 20px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}

